@font-face {
  font-family: 'roboto';
  src: local('roboto'),
    url('./Fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto';
  src: local('Noto'),
    url('./Fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth\,wght.ttf')
      format('truetype');
}

//Color Pallete 1
$darkBlue: #06283d;
$darkTurqoise: #256d85;
$whiteBlue: #dff6ff;

//Color Pallete 2
$darkGray: #2c3333;
$grayBlue: #263f46;
$lightGrayBlue: #a5c9ca;
//Contrast Colors:

$orange: #e14d2a;

$scroll-padding: 70px;

$font: 'roboto';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Noto;
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  //   Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
h3 {
  text-align: start;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.navBar {
  background-color: $whiteBlue;
  font-size: 1rem;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100vw;
  &.noBorder {
    border: none;
    border-bottom: 2px solid $orange;
  }
  &.border {
    border-bottom: 2px solid $orange;
  }
  .navBar-linkList {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: $orange;
    :visited {
      color: $orange;
    }
    :hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    .regularNavLink,
    .activeNavLink {
      transition: transform 0.2s;
      text-align: center;
      width: 25%;
      text-decoration: none;
      &:hover {
        color: $orange;
      }
    }
    .activeNavLink,
    .activeNavLink:hover {
      background-color: $orange;
      background-color: $darkGray;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: $orange;
      border: 2px solid $orange;
      border-bottom: 5px solid $darkGray;
      transform: translateY(0.7em);
      &.projectsNav {
        background-color: $whiteBlue;
        border-bottom: 5px solid $whiteBlue;
      }
    }
  }
}

@media (min-width: 800px) {
  .navBar {
    .navBar-linkList {
      font-size: 1.2rem;
      padding-right: 30%;
      .activeNavLink,
      .activeNavLink:hover {
        transform: translateY(0.6em);
      }
    }
  }
}

@keyframes enterLetter {
  from {
    transform: translateY(10px);
    font-size: 4.5rem;
    opacity: 0;
  }
  to {
    opacity: 1;
    font-size: 3.5rem;
  }
}

@keyframes enterLeft {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: traslateX(0);
  }
}

@keyframes enterRight {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: traslateX(0);
  }
}

$duration: 0.1s;
$startDelay: 0.5s;

.home {
  position: relative;
  top: 0;
  z-index: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $darkGray;
  color: $whiteBlue;
  h2 {
    font-size: 3.5rem;
    margin: 0 4vw 0;
    text-align: start;
    // animation-name: enterLetter;
    // animation-delay calc($startDelay + $duration*)
    // animation-timing-function: ease-in;
    .name-letter {
      animation-name: enterLetter;
      animation-duration: 0.4s;
      animation-timing-function: linear;
      animation-fill-mode: backwards;
      &:hover {
        color: $orange;
      }
      &.letter-0 {
        animation-delay: calc($startDelay + $duration * 0);
      }
      &.letter-1 {
        animation-delay: calc($startDelay + $duration * 1);
      }
      &.letter-2 {
        animation-delay: calc($startDelay + $duration * 2);
      }
      &.letter-3 {
        animation-delay: calc($startDelay + $duration * 3);
      }
      &.letter-4 {
        animation-delay: calc($startDelay + $duration * 4);
      }
      &.letter-5 {
        animation-delay: calc($startDelay + $duration * 5);
      }
      &.letter-6 {
        animation-delay: calc($startDelay + $duration * 6);
        // animation-duration: 0;
      }
      &.letter-7 {
        animation-delay: calc($startDelay + $duration * 7);
      }
      &.letter-8 {
        animation-delay: calc($startDelay + $duration * 8);
      }
      &.letter-9 {
        animation-delay: calc($startDelay + $duration * 9);
      }
      &.letter-10 {
        animation-delay: calc($startDelay + $duration * 10);
      }
      &.letter-11 {
        animation-delay: calc($startDelay + $duration * 11);
      }
      &.letter-12 {
        animation-delay: calc($startDelay + $duration * 12);
      }
      &.letter-13 {
        animation-delay: calc($startDelay + $duration * 13);
      }
    }
  }
  h3 {
    font-size: 2.8rem;
    margin: 0 4vw 0;
    color: $orange;
    animation-name: enterRight;
    animation-duration: 1.2s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }
  p {
    margin: 0 4vw 0;
    animation-name: enterRight;
    animation-duration: 1.2s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }
  .home-aboutBtn {
    display: block;
    border: none;
  }
  .socials {
    animation-name: enterRight;
    animation-duration: 1.2s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }
  .home-navigationContainer {
    display: flex;
    justify-content: center;
    z-index: 2;
    animation-name: enterRight;
    animation-duration: 1.2s;
    animation-delay: 2.6s;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
  }
  .home-navLink {
    flex-grow: 1;
    text-decoration: none;
    text-align: center;
    color: $orange;
    border: 2px solid $whiteBlue;
    margin: 20px;
    padding: 0.5em;
    border-radius: 20px;
    &:visited {
      color: $orange;
    }
    &:hover {
      transform: scale(1.2);
      border-color: $orange;
    }
  }

  button {
    background: transparent;
    border-radius: 3px;
    border: 2px solid $whiteBlue;
    color: $whiteBlue;
    margin: 0.5em 1em;
    padding: 0.25em 1em;
  }
  a {
    margin: 0px 2rem 0px 4rem;
    img {
      height: 2.2rem;
    }
  }
}

@media (max-width: 375px) {
  .home {
    padding-top: 15vh;
  }
}

$skillListHeight: 50vh;

@keyframes rotateIn {
  from {
    transform: rotateZ(90deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotateZ(20deg);
    opacity: 1;
  }
}
@keyframes rotateOut {
  from {
    transform: scale(1) rotateZ(20deg);
    opacity: 1;
  }
  to {
    transform: rotateZ(90deg);
    opacity: 0;
  }
}
@keyframes appearScroll {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappearScroll {
  from {
    // transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  to {
    opacity: 0;
  }
}

.skills {
  position: relative;
  top: 0px;
  z-index: 1;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $darkGray;
  min-height: 40vh;
  color: $whiteBlue;
  padding-top: $scroll-padding;
  padding-bottom: 5rem;
  .skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .skillsTitle {
      width: 90%;
    }
    .skillsList {
      align-items: center;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(3, 5rem);
      grid-template-rows: repeat(2, 100px);
      column-gap: 5vw;
      row-gap: 50px;
      margin-bottom: 2rem;

      li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 5rem;
        align-items: center;
        transform: rotateZ(20deg);
        background-color: $darkGray;
        border: 2px solid $orange;
        border-radius: 20px;
        &.appear {
          animation-name: rotateIn;
          animation-fill-mode: backwards;
          animation-delay: 0.2s;
          animation-duration: 2s;
          opacity: 1;
        }
        &.disappear {
          opacity: 0;
          animation-fill-mode: backwards;
          animation-name: rotateOut;
          animation-delay: 0.2s;
          animation-duration: 2s;
        }
        svg {
          height: 3rem;
          transform: rotateZ(-20deg);
        }
      }
    }
    img {
      position: absolute;
      height: 5rem;
      &.appear {
        animation-name: appearScroll;
        animation-fill-mode: backwards;
        animation-delay: 0.5s;
        animation-duration: 2s;
        opacity: 1;
      }
      &.disappear {
        opacity: 0;
        animation-fill-mode: backwards;
        animation-name: disappearScroll;
        animation-delay: 0.2s;
        animation-duration: 1s;
      }
    }
  }
  .aboutContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    .aboutTitle {
      margin-bottom: 1rem;
      width: 90%;
      font-size: 2.2rem;
    }
    .aboutText {
      text-align: justify;
      font-size: 1.2rem;
    }
  }
}

@media (min-width: 800px) {
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .skillsContainer {
      margin-right: 5vw;
    }
  }
}

.projects {
  position: relative;
  bottom: 0;
  z-index: 2;
  display: grid;
  color: $darkGray;
  background-color: $whiteBlue;
  padding-top: $scroll-padding;
  // .projects-title {
  //   margin-left: 12vw;
  // }
  .individualProject {
    padding: 2rem 0;
    margin: 0rem 10vw;
    margin-bottom: 4vh;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-areas:
      'name'
      'media'
      'description'
      'tech'
      'links';
    background-color: #2c3333;
    color: $whiteBlue;
    padding: 1rem;
    border-radius: 20px;

    .title {
      grid-area: name;
      border: 2px solid $orange;
      text-align: center;
      padding: 5px 0;
      border-radius: 20px;
      height: fit-content;
    }
    .description {
      grid-area: description;
    }
    .techStack {
      grid-area: tech;
      display: flex;
      justify-content: space-evenly;

      .tech {
        height: 2.5rem;
        // flex-grow: 1;
      }
      .Sass {
        height: 3rem;
      }
    }
    .media {
      grid-area: media;
      .image {
        width: 100%;
      }
    }
    .links {
      grid-area: links;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 2.5rem;

      .liveBtn,
      .liveBtn:visited {
        color: white;
        border: 2px solid $whiteBlue;
        background-color: rgb(197, 12, 12);
        text-decoration: none;
        border-radius: 1rem;
        font-size: 1.2rem;
        padding: 0px 0.5rem;
        font-weight: bold;
      }
    }
    a {
      .gitHubLogo {
        height: 2.5rem;
      }
    }
  }
  // .layeredSpacer {
  //   aspect-ratio: 960/540;
  //   width: 100%;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: cover;
  //   position: absolute;
  // }
  // .curvedLayer1 {
  //   background-image: url(./Images/layer1.svg);
  //   top: 0;
  // }
  // .curvedLayer2 {
  //   background-image: url(./Images/layer2.svg);
  //   bottom: 0;
  // }
}

@media (min-width: 800px) {
  .projects {
    .individualProject {
      &.left {
        grid-template-areas:
          'name media'
          'description media'
          'tech links';
        grid-template-columns: 2fr 3fr;
        // .title {
        //   margin-right: 60%;
        // }
      }
      &.right {
        grid-template-areas:
          ' media name'
          ' media description '
          ' links tech ';
        grid-template-columns: 3fr 2fr;
        // .title {
        //   margin-left: 60%;
        // }
      }
      .title {
        grid-area: name;
      }
      .description {
        grid-area: description;
      }
      .techStack {
        grid-area: tech;
      }
      .media {
        grid-area: media;
      }
      .links {
        grid-area: links;
      }
    }
  }
}

.contact {
  position: relative;
  top: 0;
  min-height: 100vh;
  z-index: 3;
  display: grid;
  padding-left: 10vw;
  padding-right: 10vw;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem;
  grid-template-areas: 'title' 'form' 'information';
  // column-gap: 20px;
  background-color: $darkGray;
  color: $whiteBlue;
  padding-top: $scroll-padding;

  h2 {
    grid-area: title;
    text-align: center;
    height: fit-content;
  }
  .contact-form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 2rem;
    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;
      align-items: center;
    }

    input,
    textarea {
      background-color: $darkBlue;
      color: $whiteBlue;
      border: none;
      border: 2px solid $whiteBlue;
      border-radius: 12px;
      padding-left: 1rem;
      height: 2rem;
      font-family: Noto;
      width: 60vw;
      &:active {
        text-decoration: none;
      }
    }
    .form-submitBtn {
      width: 32vw;
      padding: 0;
      text-align: center;
    }
    .form-message {
      .messageBox {
        height: 20vh;
      }
    }
  }

  .confirmationMessage {
    position: relative;
    border-radius: 20px;
    width: 150px;
    height: fit-content;
    top: -30vh;
    background-color: rgba(35, 207, 35, 0.89);
    left: calc(50% - 75px - 2px - 0.5rem);
    padding: 0.5rem;
    color: white;
    border: 4px solid white;
    &.hidden {
      visibility: hidden;
    }
    p {
      text-align: center;
      font-weight: bold;
    }
  }
  .contact-info {
    grid-area: information;
    background-color: $darkBlue;
    padding: 1rem;
    text-align: justify;
    border-radius: 20px;
  }
}

@media (min-width: 800px) {
  .contact {
    // grid-template-columns: 1fr;
    // grid-template-rows: 5rem 1fr;
    grid-template-areas: 'title' 'form' 'information';
    .contact-form {
      padding-left: 5vw;
      padding-right: 5vw;
    }
    .confirmationMessage {
      top: -50vh;
    }
  }
}
