@font-face {
  font-family: 'roboto';
  src: local('roboto'),
    url('./Fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto';
  src: local('Noto'),
    url('./Fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth\,wght.ttf')
      format('truetype');
}

//Color Pallete 1
$darkBlue: #06283d;
$darkTurqoise: #256d85;
$whiteBlue: #dff6ff;

//Color Pallete 2
$darkGray: #2c3333;
$grayBlue: #263f46;
$lightGrayBlue: #a5c9ca;
//Contrast Colors:

$orange: #e14d2a;

$scroll-padding: 70px;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Noto;
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  //   Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2 {
  text-align: start;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
h3 {
  text-align: start;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.navBar {
  background-color: $darkGray;
  font-size: 1rem;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100vw;
  &.noBorder {
    border: none;
    border-bottom: 2px solid $orange;
  }
  &.border {
    border-bottom: 2px solid $orange;
  }
  .navBar-linkList {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: $whiteBlue;
    :visited {
      color: $whiteBlue;
    }
    .regularNavLink,
    .activeNavLink {
      transition: transform 0.2s;
      text-align: center;
      // flex-grow: 1;
      width: 25%;
      text-decoration: none;
      &:hover {
        color: $orange;
      }
    }
    .activeNavLink,
    .activeNavLink:hover {
      background-color: $orange;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      // transform: translateY(0.5em);
      // color: $whiteBlue;
      // &.nav-homeTab {
      color: $orange;
      background-color: transparent;
      border: 2px solid $orange;
      border-bottom: 5px solid $darkGray;
      transform: translateY(0.7em);
      // }
    }
  }
}

@media (min-width: 800px) {
  .navBar {
    .navBar-linkList {
      font-size: 1.2rem;
      padding-right: 30%;
      .activeNavLink,
      .activeNavLink:hover {
        transform: translateY(0.6em);
      }
    }
  }
}

.home {
  position: relative;
  top: 0;
  z-index: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $darkGray;
  color: $whiteBlue;
  h2 {
    font-size: 3.5rem;
    margin: 0 4vw 0;
  }
  h3 {
    font-size: 2.8rem;
    margin: 0 4vw 0;
    color: $orange;
  }
  p {
    margin: 0 4vw 0;
  }
  .home-aboutBtn {
    display: block;
    border: none;
  }
  .home-navigationContainer {
    display: flex;
    justify-content: center;
    z-index: 2;
  }
  .home-navLink {
    flex-grow: 1;
    text-decoration: none;
    text-align: center;
    color: $orange;
    border: 2px solid $whiteBlue;
    margin: 20px;
    padding: 0.5em;
    border-radius: 20px;
    &:visited {
      color: $orange;
    }
    &:hover {
      transform: scale(1.2);
      border-color: $orange;
    }
  }

  button {
    background: transparent;
    border-radius: 3px;
    border: 2px solid $whiteBlue;
    color: $whiteBlue;
    margin: 0.5em 1em;
    padding: 0.25em 1em;
  }
  a {
    margin: 0px 2rem 0px 4rem;
    img {
      height: 2.2rem;
    }
  }
}

$skillListHeight: 50vh;

.skills {
  position: relative;
  top: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $darkGray;
  min-height: 40vh;
  color: $whiteBlue;
  border-top: 2px solid $orange;
  padding-top: $scroll-padding;
  .skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .skillsTitle {
      width: 90%;
    }
    .skillsList {
      align-items: center;
      justify-content: center;
      display: grid;
      grid-template-columns: repeat(3, 5rem);
      grid-template-rows: repeat(2, 100px);
      column-gap: 5vw;
      row-gap: 50px;

      li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 5rem;
        align-items: center;
        transform: rotateZ(20deg);
        background-color: $darkGray;
        border: 2px solid $orange;
        border-radius: 20px;

        svg {
          height: 3rem;
          transform: rotateZ(-20deg);
        }
      }
    }
  }
  .aboutContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .aboutTitle {
      text-align: center;
      margin-bottom: 2rem;
      margin-top: 2rem;
      width: 90%;
      text-align: start;
      font-size: 2.2rem;
      margin-bottom: 2rem;
    }
  }
}

@media (min-width: 800px) {
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .skillsContainer {
      margin-left: 10vw;
      margin-right: 10vw;
    }
  }
}

.projects {
  position: relative;
  bottom: 0;
  z-index: 2;
  display: grid;
  padding-left: 15vw;
  padding-right: 15vw;
  color: $whiteBlue;
  background-color: $darkGray;
  border-top: 2px solid $orange;
  padding-top: $scroll-padding;

  .individualProject {
    margin-bottom: 4vh;
    display: grid;
    gap: 20px;
    &.left {
      grid-template-areas:
        'name media'
        'description media'
        'tech links';
    }
    &.right {
      grid-template-areas:
        ' media name'
        ' media description '
        ' links tech ';
    }
    .title {
      grid-area: name;
    }
    .description {
      grid-area: description;
    }
    .techStack {
      grid-area: tech;
      .tech {
        height: 2rem;
      }
    }
    .media {
      grid-area: media;
      .image {
        height: 100px;
      }
    }
    .links {
      grid-area: links;
    }
  }
  // .layeredSpacer {
  //   aspect-ratio: 960/540;
  //   width: 100%;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: cover;
  //   position: absolute;
  // }
  // .curvedLayer1 {
  //   background-image: url(./Images/layer1.svg);
  //   top: 0;
  // }
  // .curvedLayer2 {
  //   background-image: url(./Images/layer2.svg);
  //   bottom: 0;
  // }
}
@media (min-width: 800px) {
}

.contact {
  position: relative;
  top: 0;
  z-index: 3;
  border-top: 2px solid $orange;
  background-color: $darkGray;
  color: $whiteBlue;
  padding-top: $scroll-padding;
}
.emptyMyticalSpace {
  height: 200vh;
  border-top: 2px solid $orange;
  background-color: $whiteBlue;

  position: relative;
  z-index: 4;
}
